<a href="https://colab.research.google.com/github/ahnjihyun/Programmers/blob/main/220423_%EC%88%AB%EC%9E%90%EB%AC%B8%EC%9E%90%EC%97%B4%EA%B3%BC%EC%98%81%EB%8B%A8%EC%96%B4(pass).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### test zone

In [16]:
### 런타임에러 5개/10개

def solution(s):
    string_list = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'night']
    for idx, st in enumerate(string_list): # s가 무엇이든 무조건 10번 반복 => 10이하로 반복할수는 없나? => 1번에 할수 있나?
        if st in s:
            #print(idx, st)
            s = s.replace(st, str(idx))
            #print(s)
        else: 
            continue
    return int(s)


#s = "one4seveneight" # 1478
s = "23four5six7"	# 234567
#s = "2three45sixseven" # 234567
#s = "123"	# 123

print(solution(s))

234567

In [17]:
### 여전히 런타임에러 5/10개

def solution(s):
    string_list = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'night']
    for idx, st in enumerate(string_list): # s가 무엇이든 무조건 10번 반복 => 10이하로 반복할수는 없나? => 1번에 할수 있나?
        s = s.replace(st, str(idx))
    return int(s)


#s = "one4seveneight" # 1478
s = "23four5six7"	# 234567
#s = "2three45sixseven" # 234567
#s = "123"	# 123

print(solution(s))

234567

In [23]:
def solution(s):
    string_dict = {'zero':0, 'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8, 'night':9}
    for k,v in string_dict.items(): # s가 무엇이든 무조건 10번 반복 => 10이하로 반복할수는 없나? => 1번에 할수 있나?
        s = s.replace(k, str(v))
    return int(s)

#s = "one4seveneight" # 1478
s = "23four5six7"	# 234567
#s = "2three45sixseven" # 234567
#s = "123"	# 123

print(solution(s))

234567

### 내 풀이 

- 어이없는 실수.... nine을 night로 저장한 탓에 nine이 들어가는 테스트케이스 5개(3,6,7,8,9번)을 못 통과한거였음...

##### <리뷰>
- string_sict를 리스트로 선언하고 for idx,string in numerate(string_list): 로 풀었어도 됐을것

- 딕셔너리에 대해 replace를 쓸때, type(key) == str 이면 type(value)도 str으로 자료형을 동일하게 맞춰서 딕셔너리를 선언해놓으면 replace할때 replace(k,v)로 쓸 수 있어서 편함

In [ ]:
string_dict = {'zero':'0', 'one':'1', 'two':'2', 'three':'3', 'four':'4', 'five':'5', 'six':'6', 'seven':'7', 'eight':'8', 'nine':'9'}

def solution(s):
    ans = s
    for k, v in string_dict.items():
        ans = ans.replace(k, v)
    return int(ans)

### 다른 풀이

- (내 풀이랑 똑같음)

In [ ]:
num_dic = {"zero":"0", "one":"1", "two":"2", "three":"3", "four":"4", "five":"5", "six":"6", "seven":"7", "eight":"8", "nine":"9"}

def solution(s):
    answer = s
    for key, value in num_dic.items():
        answer = answer.replace(key, value)
    return int(answer)